content {
    width: 1200px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 4 - 15px);
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

li:hover {
    scale: 1.1;
    border: 1px solid blue;
    color: orange;
}

.list_img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.list_modal-img {
    max-height: 400px;
    max-width: 400px;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightslategrey;
    padding: 30px;
}

.modal_content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

    p {
        font-size: 22px;
    }
}

.list_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}