body {
    margin: 0;
}

content {
    width: 1200px;
}

.navigation_list {
    display: flex;
    height: 60px;
    padding: 10px 20px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 0;
}

.navigation_logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 400px;
}

.navigation_item {
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    transition: .3s;
}

a {
    transition: .3s;
    text-decoration: none;
    color: black;
}

.navigation_item:hover a, .footer_socials-item:hover {
    color: pink;
    fill: pink;
    scale: 1.1;
}

.navigation_item:hover {
    scale: 1.1;
}

.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
}

.list_item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 4 - 15px);
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

.list_item:hover {
    scale: 1.1;
    border: 1px solid blue;
    color: orange;
}

.list_img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.list_modal-img {
    max-height: 400px;
    max-width: 400px;
}

.list_buy {
    font-size: 22px;
    background-color: aquamarine;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
}

.list_buy:hover {
    color: gray;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.footer_container {
    height: 100px;
    background-color: grey;
    padding: 15px 10px;
}

.footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-bottom: 15px;
}

.footer_link-a {
    cursor: pointer;
    transition: .3s;
}

.footer_link-a:hover {
    color:pink; 
}

.footer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer_socials-item {
    display: flex;
    gap: 8px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
    svg {
        width: 40px;
        height: 40px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightslategrey;
    padding: 30px;
}

.modal-wrap {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;

    p {
        font-size: 22px;
    }
}

.close {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}

.close:hover {
    color: red;
    scale: 1.1;
}

.list_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}